$primary-color: #6f4f28;
$secondary-color: #ffc014;
$box-shadow: 5px 5px 15px rgba(0, 0, 0, 40%);

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

body {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
  }
}

.link {
  cursor: pointer;
}

.btn-hover {
  transition: ease-out 0.3s;
  box-shadow: $box-shadow;

  &:hover {
    transform: scale(1.05) rotate(-3deg);
  }
}

.back-to-top {
  position: fixed;
  background-color: $secondary-color;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: $box-shadow;
  bottom: 43px;
  right: 70px;
  z-index: 97;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: ease-out 0.1s;
  padding: 10px 5px 0 5px;

  .arrow {
    height: 20px;
    width: 20px;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-top-left-radius: 3px;
    transform: rotate(45deg);
  }
}

.overlay {
  display: none;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 60%);
  z-index: 98;
  position: fixed;
}

.reg-container {
  display: none;
  position: fixed;
  z-index: 99;
  background-color: white;
  border-radius: 50px;
  width: 50vw;
  max-width: 700px;
  min-width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .reg-form {
    padding: 50px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5rem;
      margin-bottom: 5px;

      .title {
        font-weight: 500;
      }

      .exit {
        font-weight: 300;
      }
    }

    .subtitle {
      font-weight: 500;
      font-size: 1.2rem;
      margin-top: 10px;
    }

    input {
      border: 1px solid $primary-color;
      border-radius: 15px;
      height: 25px;
      outline: none;
      padding: 0 15px;

      &:focus {
        box-shadow: 0 0 3px $primary-color;
      }
    }

    .divider {
      height: 1px;
      width: 100%;
    }

    #userDetails,
    #addresses,
    #contacts {
      display: flex;
      flex-direction: column;
    }

    #contacts {
      margin-bottom: 20px;
    }

    .group-container {
      display: flex;
      margin-bottom: 10px;
      .group {
        display: flex;
        flex-direction: column;
        width: 50%;
        &:first-of-type {
          margin-right: 20px;
        }
      }
    }

    .submit-container {
      display: flex;
      justify-content: flex-end;

      .submit-btn {
        padding: 0 23px;
        cursor: pointer;
        background-color: $secondary-color;
        border: none;
        height: 44px;
        border-radius: 30px;
        font-size: 1rem;
      }
    }
  }
}

.home {
  min-height: 100vh;
  width: 100%;
  border-radius: 0 0 0 150px;
  position: relative;

  &::after {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: $primary-color;
    content: "";
    bottom: -150px;
    right: 0;
    z-index: -1;
  }

  .header {
    display: flex;
    align-items: flex-end;
    height: 12vh;
    padding: 0 80px;

    .logo {
      height: 50px;
    }

    .nav-bar {
      margin: 0 auto 0 120px;
      padding-bottom: 5px;
      display: flex;
      flex-wrap: nowrap;

      .link {
        color: white;
        margin-right: 50px;
        position: relative;
        white-space: nowrap;

        &:last-of-type {
          margin-right: 0;
        }

        &::after {
          content: "";
          width: 0;
          position: absolute;
          height: 2px;
          left: 0;
          background-color: white;
          display: block;
          transform-origin: left center;
          transition: ease-out 0.2s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }

    .user-actions {
      display: flex;
      align-items: center;
      margin-bottom: -6px;

      .link {
        position: relative;
        white-space: nowrap;

        &:first-of-type {
          margin: 0 40px;
          color: white;

          &::after {
            content: "";
            width: 0;
            position: absolute;
            height: 2px;
            left: 0;
            background-color: white;
            display: block;
            transform-origin: left center;
            transition: ease-out 0.2s;
          }

          &:hover::after {
            width: 100%;
          }
        }
      }

      .sign-up {
        background-color: $secondary-color;
        border-radius: 40px;
        padding: 10px 25px;
      }
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 0 250px;

    .left {
      color: white;
      max-width: 25vw;
      padding: 30px 0 0 30px;

      .title {
        font-size: 5.5rem;
        line-height: 1.3;
        margin-bottom: 40px;
        font-weight: 600;

        @media only screen and (max-width: 1800px) {
          font-size: 4rem;
        }
      }

      .sign-up {
        width: auto;
        font-size: 1.4rem;
        font-weight: 500;
        padding: 10px 30px;
        margin-bottom: 50px;
        display: inline-block;
        background-color: $secondary-color;
        border-radius: 40px;
        color: black;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      .book {
        width: 40vh;
        min-width: 300px;
      }
      .shadow {
        width: 75vh;
        min-width: 500px;
        margin-top: -140px;
        mix-blend-mode: multiply;
      }
    }
  }
}

.catalogue {
  height: 100vh;
  width: 100%;
  border-radius: 0 150px 150px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    padding: 70px 0;
    font-size: 3rem;
    font-weight: 600;
  }

  .books {
    display: flex;
    padding-bottom: 70px;
    .book {
      margin-right: 50px;

      &:last-of-type {
        margin-right: 0;
      }

      img {
        width: 15vw;
        box-shadow: $box-shadow;
        margin-bottom: 10px;
        transition: ease-out 0.3s;
      }

      &:hover img {
        transform: scale(1.05);
      }

      .title {
        font-size: 1.1rem;
        font-weight: 600;
      }

      .author {
        font-size: 0.9rem;
        font-weight: 300;
      }
    }
  }

  .more-books-btn {
    background-color: $secondary-color;
    padding: 10px 25px;
    border-radius: 40px;
    font-size: 1.3rem;
    font-weight: 500;
  }
}

.news {
  height: 100vh;
  width: 100%;
  border-radius: 150px 0 0 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    position: absolute;
    width: 150px;
    height: 150px;
    background: $primary-color;
    content: "";
    right: 0;
    top: -150px;
    z-index: -1;
  }

  &::after {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: $primary-color;
    content: "";
    bottom: -150px;
    right: 0;
    z-index: -1;
  }

  h2 {
    padding: 70px 0;
    font-size: 3rem;
    font-weight: 600;
    color: white;
  }

  .article {
    background-color: white;
    width: calc(60vw + 150px);
    border-radius: 50px;
    box-shadow: $box-shadow;

    .container {
      padding: 50px;
      display: flex;

      img {
        height: 40vh;
        padding-right: 40px;
      }

      .right {
        display: flex;
        flex-direction: column;
        height: 40vh;
        justify-content: space-between;

        .content {
          .title {
            font-weight: 500;
            font-size: 1.5rem;
            padding-bottom: 15px;
          }

          .body {
            font-weight: 300;

            @media only screen and (max-width: 1000px) {
              font-size: 0.9rem;
            }
          }
        }

        .btn-container {
          display: flex;
          justify-content: flex-end;

          .read-more-btn {
            background-color: $secondary-color;
            padding: 10px 25px;
            border-radius: 40px;
            font-size: 1.3rem;
            display: inline-block;
            font-weight: 500;
            @media only screen and (max-width: 1000px) {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}

.footer {
  height: 150px;
  width: 100%;
  border-radius: 0 150px 0 0;
  background-color: white;

  .container {
    height: 100%;
    display: flex;
    padding: 0 calc((40vw - 150px) / 2);
    align-items: center;
    justify-content: space-between;

    .social-media {
      display: flex;
      img {
        height: 22px;
        margin-right: 20px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .links {
      display: flex;
      .link {
        margin-right: 50px;
        position: relative;
        white-space: nowrap;
        &:last-of-type {
          margin-right: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }

        &::after {
          content: "";
          width: 0;
          position: absolute;
          height: 2px;
          left: 0;
          background-color: black;
          display: block;
          transform-origin: left center;
          transition: ease-out 0.2s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

.custom-background-color {
  background-color: $primary-color;
}

.custom-color {
  color: $primary-color;
}
